
.slick-dots li button:before {
  font-size: 15px!important;
  color: #d64767!important;
}


.slick-prev:before, .slick-next:before {
  color:#d64767;
  font-size: 30px;
}

.valoresSlider{
  
    .slick-track {
      will-change: transform;
    }
    
    .slick-list {
      overflow: hidden;
      will-change: transform;
      height: 100%;
    }
    
    
    @keyframes motion-blur {
      0% {
        filter: url(#blur0);
        transform: scale(1, 1);
      }
      15% {
        filter: url(#blur1);
        transform: scale(1, 0.98);
      }
      30% {
        filter: url(#blur2);
        transform: scale(1, 0.93);
      }
      45% {
        filter: url(#blur3);
        transform: scale(1.1, 0.9);
      }
      60% {
        filter: url(#blur4);
        transform: scale(1.2, 0.88);
      }
      75%,
      100% {
        filter: url(#blur5);
        transform: scale(1.35, 0.85);
      }
    }
    
    .do-transition {
      animation: 
        motion-blur 0.1s linear forwards,
        motion-blur 0.4s linear reverse forwards 0.1s;
    }

    .slick-prev{
      left: 15px;
      z-index: 10000;
    }
    
    .slick-next{
        right: 15px;
    }
    
    .slick-prev:before, .slick-next:before {
        color:#d64767;
        font-size: 30px;
    }
}
