:root {
    --swiper-navigation-size: 20px;
}

.swiper-button-prev {
color: white; 
}

.swiper-button-next {
    color: white; 
}
.swiper-pagination{
    bottom: -105px;
    left:60px;
    width: 60px!important;
    color:white
}
.swiper-button-next{
    left: 30px!important;
    top: unset!important;
    width: 30px;
    bottom: -105px;
    height: 40px;
}

.swiper-button-prev{
    left: 0px!important;
    top: unset!important;
    width: 30px;
    bottom: -105px;
    height: 40px;
}

.swiper-scrollbar-drag, .swiper-pagination.responsive-swiper .swiper-pagination-bullet-active{
    background-color: #d64767;
}

.swiper-pagination.responsive-swiper{
    right: 0!important;
    left: unset!important;
    top: 68%
}