@media (min-width: 768px) {
    .swiper-scrollbar{
        width:57%!important;
        right:0!important;
        left:unset!important
    }
}
.swiper-scrollbar-drag, .swiper-pagination-bullet-active{
    background-color: #d64767;
}

.ih-item.circle .img:before{
    box-shadow: none;
}

.ih-item.circle.effect6 .info {
    background-color: #d64767;
}

.ih-item.circle.effect6 .info p{
    color: #f9f9f7;
    padding: 65px 0px;
    font-style: normal;
    font-size: 24px;
}

.snip1401 { 
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 485px;
  width: 100%;
  text-align: right;
  margin: auto;
  background-color: #000000;
}
.snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition:  all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.snip1401 img {
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1401 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.snip1401 figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 180px 150px 180px 0;
  border-color: transparent #ffffff transparent transparent;
}
.snip1401:after {
  position: absolute;
  bottom: 50%;
    right: 35%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 170px 0 170px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 h3,
.snip1401 p {
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
  translate: -60px;
  margin: 0;
}
.snip1401 h3 {
  margin: 0 0 5px;
}
.snip1401 p {
  font-size: 0.8em;
}

.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover .certificacionLogo,
.snip1401.hover .certificacionLogo {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.snip1401 .certificacionLogo{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
    font-size: 44px;
    fill: #f9f9f7;
    opacity: 0;
  }

@media ( max-width: 1300px ) {
    .snip1401 figcaption {
        width: 50%;
    }
    .snip1401{
        min-width: 230px;
        max-width: 315px;
        max-height: 220px;
    }

    .snip1401:after {
        bottom: 50%;
        right: 40%;
        border-width: 120px 120px 0 120px;
    }

    .snip1401 figcaption:before {
        border-width: 120px 120px 120px 0;
        top: 50%;
    }

    .ih-item.circle, .ih-item.circle .img{
        width: 170px;
        height: 170px;
    }
    .ih-item.circle.effect6 .info p{
        font-size: 16px;
    }
}
