.slick-prev{
    left: 10px;
    z-index: 10000;
    width: 25px;
}

.slick-next{
    right: 10px;
    width: 25px;
}

.slick-prev:before, .slick-next:before {
    color:#d64767;
    font-size: 30px;
}